/* Variables */

$color-main: #ae2525;
$color-white: #fff;
$color-black: #000;
$color-alb: #c6a99b;

.about{
  display: flex;
  align-items: center;
  justify-content: center;
}

html{
  font-family: "Lexend", serif;
  height: 3000px;
}