.header__wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, black 100%),
          url('../../images/background.jpg') no-repeat center/cover;

  > .header__text{
    font-family: "Lexend", serif;
    width: 70%;
    position: absolute;
    color: white;
    align-items: center;

    > h1{
      font-size: 128px;
      width: 100%;
      margin: 10px;
      text-align: center;
      letter-spacing: 50px;
    }
    > .text{
      display: flex;
      flex-direction: column;
      text-align: center;
      > span{
        display: block;
        margin: 5px;
        text-align: center;
      }
    }
  }
}

.header__img{
  width: 100%;
  display: block;
}