.header__wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, black 100%),
          url('../../images/background.jpg') no-repeat center/cover;

  > .header__text{
    font-family: "Lexend", serif;
    width: 70%;
    position: absolute;
    color: white;
    align-items: center;

    > h1{
      font-size: 128px;
      width: 100%;
      margin: 10px;
      text-align: center;
      letter-spacing: 100px;
    }
    > .text{
      display: flex;
      flex-direction: column;
      text-align: center;
      > span{
        display: block;
        margin: 5px;
        text-align: center;
      }
    }
  }
}

.header__img{
  width: 100%;
  display: block;
}

@media (max-width: 360px){
  .header__wrapper{
    > .header__text{
      > h1{
        font-size: 64px;
        letter-spacing: 10px;
      }
    }
  }
}
@media  (max-width: 380px){
  .header__wrapper{
    > .header__text{
      > h1{
        font-size: 64px;
        letter-spacing: 10px;
      }
    }
  }
}
@media (min-width: 381px) and (max-width: 480px){
  .header__wrapper{
    > .header__text{
      > h1{
        font-size: 64px;
        letter-spacing: 20px;
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 880px){
  .header__wrapper{
    > .header__text{
      > h1{
        font-size: 96px;
        letter-spacing: 30px;
      }
    }
  }
}
@media (min-width: 881px) and (max-width: 1280px){
  .header__wrapper{
    > .header__text{
      > h1{
        font-size: 128px;
        letter-spacing: 40px;
      }
    }
  }
}