.main__nav{
  margin: 20px;

  > .main__nav__wrapper{
    display: flex;
    justify-content: center;

    a{
      text-decoration: none;
      color: gray;
      padding: 0 40px 0 40px;
      font-family: "Lexend", serif;

      &.active{
        color: white;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 480px) {
  .main__nav__wrapper{
    > a{
      padding: 0 20px 0 20px !important;
    }
  }


}