.search__input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-black;
  padding: 20px;
  color: $color-white;
}

p {
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 10px 0  10px;
}

.search__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input__ {
  background-color: $color-white;
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  width: 150px;
  border-radius: 5px;
}


#category {
  appearance: none;
  background-color: $color-white;
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  width: 150px;
  border-radius: 5px;
}

.btn {
  background-color: $color-main;
  color: $color-white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}


.search__input__name{
  display: flex;
  align-items: center;
}
.search__name{
  display: flex;
  align-items: center;
}
.search__results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  >.music__wrapper{
    display: flex;
    width: 40%;
  }
}

@media (max-width: 675px) {
  .search__form{
    display: flex;
    flex-direction: column;
  }

}